@import"./Partials/_base.css";
@import"./Partials/_utilities.css";

/* Test styles*/
.nav {
    &-title {
        font-style: italic;
        font-family: $primaryfontFamily;
        width: $widthMD;
    }
    &-link {
        color: green;
        font-weight: 700;
    }
    &.is-active {
        display: block;
    }
}
a {
    background-size: cover;
    background-origin: padding-box;
    background-clip: padding-box;
}

/* build multiple same icons */
@each $icon in (foo, bar, baz) {
    .icon-$(icon) {
        background: url("icons/$(icon).png");
    }
}
